<header class="p-2 bg-dark text-white" style="height: 50px;">

  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-between">
      <a href="/" class="text-white text-decoration-none">
        <h5 class="mb-0">テストアプリ</h5>
      </a>
      <%= form_with url: products_path, method: :get, local: true, class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex" do |f| %>
        <%= f.text_field :search, class: "form-control form-control-dark form-control-sm", placeholder: "検索", aria: { label: "Search" }, style: "width: 400px;", value: params[:search] %>
      <% end %>

      <div class="text-end">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-light btn-sm me-2" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light btn-sm me-2" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
