<!DOCTYPE html>
<html>
  <head>
    <title>SmallSub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'header', media: 'all' %>
    <%= stylesheet_link_tag 'sidebar', media: 'all' %>
    <%= stylesheet_link_tag 'products', media: 'all' %>
    <%= stylesheet_link_tag 'products', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-ifuINRs1POa34GHLxo0iHFkwzcmDA6j6gDp_ram48lbsFACYJ_ev6T!ajW5(iKzd" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class='main'>
      <%= render 'shared/sidebar' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <%= javascript_pack_tag 'sidebar' %>
  </body>
</html>
